html{
    background-image: url("Images/pexels-suzyhazelwood-1629236.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.hom1{
    font-family: "Copperplate", fantasy;
    color:rgb(0, 167, 250);
    font-size:xx-large;

    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

.arrow1 {
    width: 0px;
    height: 0px;
    margin: 0 auto;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #0078b7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec1 {
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: black;
    padding-left: 5px;
}

.sec1 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.sec1 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}
/*
.arrowC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.arrow2, .arrow2 {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #0078d7;
} */

.arrow2 {
    width: 0px;
    height: 0px;
    margin-left: 81.25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #0078b7;
    margin-top: 10px;
    margin-bottom: 10px;
}
.arrow3 {
    width: 0px;
    height: 0px;
    margin-left: 569.75px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #0078b7;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.sec2 {
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: black;
    padding-left: 5px;
}

.sec2 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.sec2 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}

